//Grid
@import 'reset.scss';
//@import 'bootstrap/bootstrap-grid.scss';
@import 'owl.carousel.scss';

@mixin clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

//Fonts
@mixin font-regular {
  font-family: 'Arial', Helvetica, sans-serif;
}

//Colors
//$black: #212121;
$brand: #ae3b44;

* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
  @include font-regular;
  background: linear-gradient(to top, #ffffff 50%, rgba(222, 230, 235, 0.5) 100%);
  background-repeat: no-repeat;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left:0;
    min-height: 100%;
    width: 100%;
    background: linear-gradient(to top, #ffffff 45%, transparent 99%), url(../img/worldmap.png);
    background-repeat: no-repeat;
    opacity: .2;
  }
}

.wrapper {
  position: relative;
  padding-bottom: 180px;

  min-height: 100%;

  z-index: 1;
}
.holder {
  margin: 0 auto;
  width: 980px;
}
.header {
  @include clearfix;
  padding: 36px 0 44px 0;
}
.logo {
  float: left;
  width: 173px;
  height: 40px;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
}

.main-nav {
  float: right;
  padding-top: 13px;
  ul {
    li {
      position: relative;
      float: left;
      margin-right: 24px;
      z-index: 4;
      &:last-of-type {
        //margin-right: 0;
      }
      a {
        font-size: 13px;
        color: #3c3c3c;
        text-decoration: none;
        transition: all ease .3s;
      }
      &.active {
        a {
          font-weight: bold;
          color: #ae3b44;
        }
      }

      & > ul {
        position: absolute;
        display: none;
        width: 145px;
      }
      &:hover {
        a {
          color: #ae3b44;

        }
        & > ul {
          padding-top: 10px;
          left: -100%;
          display: block;
          &:before {
            content: '';
            position: absolute;
            top: 6px;
            left: 46%;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 5.5px 3px 5.5px;
            border-color: transparent transparent #2b2c2c transparent;
          }
          & > li {
            display: block;
            width: 100%;
            margin-right: 0;
            background-color: #212121;
            border-bottom: 1px solid #202020;
            box-shadow: 0 0 0 1px #232525;
            a {
              display: block;
              padding: 10px;
              font-size: 12px;
              color: #9ca0a2;
              transition: all ease .3s;
            }
            &:hover {
              position: relative;
              &.has-inner {
                &:before {
                  content: '';
                  position: absolute;
                  top: 40%;
                  right: -5px;
                  width: 0;
                  height: 0;
                  border-style: solid;
                  border-width: 5.5px 0 5.5px 4px;
                  border-color: transparent transparent transparent #2b2c2c;
                  z-index: 6;
                }
                &:after {
                  content: '';
                  position: absolute;
                  top: 37%;
                  right: -7px;
                  width: 0;
                  height: 0;
                  border-style: solid;
                  border-width: 6px 0 6px 5px;
                  border-color: transparent transparent transparent #e9edf2;
                  z-index: 5;
                }
              }

              a {
                color: #ffffff;
              }
              ul {
                top: 0;
                left: 100%;
                padding-top: 0;
                padding-left: 5px;
                & > li {
                  a {
                    color: #9ca0a2;
                  }
                  &:hover {
                    &:before, &:after {
                      display: none;
                    }
                    a {
                      color: #ffffff;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.featured {
  @include clearfix;
  height: 135px;
  overflow: hidden;
  border-top: 7px solid #212121;
  background-color: $brand;
  img {
    float: left;
  }
  h2 {
    padding-top: 19px;
    float: left;
    padding-left: 30px;
    max-width: 215px;
    color: #edf2f5;
    font-size: 24px;
    line-height: 1.1em;
  }
  .content {
    padding-top: 19px;
    float: right;
    width: 468px;
    p {
      font-size: 12px;
      line-height: 19px;
    }
  }
}
.navigation {
  padding-right: 13px;
  text-align: right;
  .next, .prev {
      position: relative;
      display: inline-block;
      width: 8px;
      height: 8px;
      border-right: 3px solid #f3e2e3;
      border-top: 3px solid #f3e2e3;
      border-radius: 2px;
      margin-right: 18px;
      cursor: pointer;
  }
  .prev {
    transform: rotate(-135deg);
  }
  .next {
    transform: rotate(45deg);
  }
}

.main {
  position: relative;
  z-index: 3;
}
.main-wrapper {
  border-bottom: 1px solid #e6e7e7;
  display: flex;
}

.sidebar {
  float: left;
  padding-top: 42px;
  width: 245px;
  border-right: 1px solid #e6e7e7;
  h2 {
    padding: 11px 14px 10px;
    font-size: 18px;
    color: #212121;
    background-image: url(../img/sidebar_lines.png);
    background-repeat: no-repeat;
  }
}
.sidebar-nav {
  border-bottom: 1px solid #e6e7e7;
  ul {
    li {
      border-top: 1px solid #e6e7e7;
      &:last-of-type {
        //border-bottom: 1px solid #e6e7e7;
      }
      a {
        display: inline-block;
        padding: 13px 18px 15px;
        font-size: 12px;
        color: #3c3c3c;
        text-decoration: none;
        width: 100%;
      }
      &.has-inner {
        position: relative;
        &:after {
          content: '';
          position: absolute;
          top: 18px;
          right: 14px;
          width: 7px;
          height: 7px;
          background-image: url(../img/arrow.png);
          background-repeat: no-repeat;
          transform: rotate(90deg);
        }
        &:nth-child(1) {
          &:after {
            transform: rotate(0deg);
          }
        }
      }
      &.active {
        position: relative;
        background-color: $brand;
        a {
          color: #fff;
        }
        &:before {
          content: '';
          position: absolute;
          top: 43%;
          right: -3px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 4px 0 4px 3px;
          border-color: transparent transparent transparent $brand;
        }
        &:hover {
          & > a {
            color: #fff;
          }
        }
      }
      & > ul {
        height: auto;
        visibility: visible;
        transition: height linear .5s;
        li {
          border-color: #dee1e2;
          background-color: #f4f7f8;
          a {
            padding-left: 35px;
            color: #3c3c3c;
          }
          & > ul {
            li {
              border-color: #d6d6d6;
              background-color: #eaeaea;
              a {
                position: relative;
                padding-left: 55px;
                color: #3c3c3c;
                &:before {
                  content: '';
                  position: absolute;
                  top: 15px;
                  left: 37px;
                  width: 7px;
                  height: 7px;
                  background-image: url(../img/arrow.png);
                  background-repeat: no-repeat;
                }
              }
              &:hover {
                & > a {
                  color: $brand;
                }
              }
            }
          }
          &:hover {
            & > a {
              color: $brand;
            }
            // & > ul {
            //   li {
            //     border-color: #d6d6d6;
            //     background-color: #eaeaea;
            //     a {
            //       position: relative;
            //       padding-left: 55px;
            //       color: #3c3c3c;
            //       &:before {
            //         content: '';
            //         position: absolute;
            //         top: 15px;
            //         left: 37px;
            //         width: 7px;
            //         height: 7px;
            //         background-image: url(../img/arrow.png);
            //         background-repeat: no-repeat;
            //       }
            //     }
            //     &:hover {
            //       a {
            //         color: $brand;
            //       }
            //     }
            //   }
            // }
          }
        }
      }
      &:hover {
        &.has-inner {
          &:after {
            transform: rotate(90deg);
          }
        }
        & > a {
          color: $brand;
        }
        & > ul {
          // visibility: visible;
          // height: auto;
          // li {
          //   border-color: #dee1e2;
          //   background-color: #f4f7f8;
          //   a {
          //     padding-left: 35px;
          //     color: #3c3c3c;
          //   }
          //   &:hover {
          //     a {
          //       color: $brand;
          //     }
          //     & > ul {
          //       li {
          //         border-color: #d6d6d6;
          //         background-color: #eaeaea;
          //         a {
          //           position: relative;
          //           padding-left: 55px;
          //           color: #3c3c3c;
          //           &:before {
          //             content: '';
          //             position: absolute;
          //             top: 15px;
          //             left: 37px;
          //             width: 7px;
          //             height: 7px;
          //             background-image: url(../img/arrow.png);
          //             background-repeat: no-repeat;
          //           }
          //         }
          //         &:hover {
          //           a {
          //             color: $brand;
          //           }
          //         }
          //       }
          //     }
          //   }
          // }
        }
      }
    }
  }
}


article {
  float: left;
  padding-top: 32px;
  padding-left: 36px;
  width: 735px;
  .heading {
    @include clearfix;
    h1 {
      float: left;
      width: 453px;
      font-size: 24px;
      color: #3d3d3d;
      letter-spacing: -0.025em;
      line-height: 1.2em;
    }
    .date {
      position: relative;
      float: right;
      width: 80px;
      height: 80px;
      text-align: center;
      background-image: url(../img/date_lines.png);
      background-repeat: no-repeat;
      .wrap {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin: 0 auto;
        transform: translateY(-50%);
      }
      span {
        display: block;
        width: 100%;
        font-size: 10px;
        color: #3c3c3c;
        opacity: .4;
        &:first-child {
          margin-bottom: 7px;
          font-size: 17px;
          font-weight: bold;
        }
        &:nth-child(2) {
          text-transform: uppercase;
        }
      }
    }
  }
  section {
    margin-bottom: 27px;
    border-bottom: 1px solid #e6e7e7;
  }
  h2 {
    margin-bottom: 24px;
    font-size: 15px;
    color: $brand;
  }
  p {
    margin-bottom: 24px;
    font-size: 12px;
    color: #3c3c3c;
    line-height: 19px;
  }
  img {
    border-bottom: 7px solid #212121;
  }
  figure {
    padding-top: 9px;
    padding-right: 40px;
    margin-bottom: 37px;
    text-align: center;
    img {
      margin-bottom: 5px;
    }
    figcaption {
      font-size: 11px;
      color: rgba(60, 60, 60, 0.5);
    }
  }
  img.left {
    float: left;
    margin: 30px 30px 30px 0;
  }
  .pagination {
    @include clearfix;
    margin-bottom: 26px;
    .prev, .next {
      position: relative;
      font-size: 15px;
      color: $brand;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
      &:before {
        content: '';
        position: absolute;
        top: 0;
        width: 14px;
        height: 14px;
        background-repeat: no-repeat;
      }
    }
    .prev {
      float: left;
      padding-left: 34px;
      &:before {
        left: 0;
        background-image: url(../img/prev.png);
      }
    }
    .next {
      float: right;
      padding-right: 34px;
      &:before {
        right: 0;
        background-image: url(../img/next.png);
      }
    }
  }
}
.brief {
  margin-bottom: 32px;
  padding: 20px 0;
  border-top: 1px solid #e6e7e7;
  border-bottom: 1px solid #e6e7e7;
  line-height: 21px;
  font-size: 15px;
  font-style: italic;
  color: #909293;
  letter-spacing: 0.015em;
}

.clients {
  padding: 17px 0 25px;
  h2 {
    display: inline-block;
    margin: 10px 47px 0 25px;
    vertical-align: middle;
    font-size: 18px;
    color: #212121;
  }
  &-container {
    display: inline-block;
    vertical-align: middle;
  }
  .client {
    float: left;
    width: 160px;
    height: 49px;
    background-image: url(../img/clients.png);
    background-repeat: no-repeat;
    //transition: all ease .5s;
    &:nth-child(1) {
      background-position: 30px 1px;
    }
    &:nth-child(2) {
      background-position: -145px 1px;
    }
    &:nth-child(3) {
      background-position: -310px 1px;
    }
    &:nth-child(4) {
      background-position: -465px 1px;
    }
    &:nth-child(5) {
      background-position: -615px 1px;
    }
    &:hover {
      &:nth-child(1) {
        background-position: 30px -48px;
      }
      &:nth-child(2) {
        background-position: -145px -48px;
      }
      &:nth-child(3) {
        background-position: -310px -48px;
      }
      &:nth-child(4) {
        background-position: -465px -48px;
      }
      &:nth-child(5) {
        background-position: -615px -48px;
      }
    }
  }
}

.footer {
  @include clearfix;
  position: absolute;
  bottom: 0;
  padding-top: 23px;
  padding-bottom: 25px;
  padding-left: 45px;
  width: 100%;
  background-color: #f8f8f8;
  border-top: 1px solid #dcdcdc;
  box-shadow: 0 12px 10px -11px #eee inset;
  z-index: 2;
  section {
    @include clearfix;
    float: left;
    margin-right: 105px;
    &:nth-child(2) {
      margin-right: 126px;
    }
    &:last-child {
      margin-right: 0;
    }
    h2 {
      margin-bottom: 23px;
      font-size: 15px;
      color: rgba(57, 57, 57, 0.5);
    }
    & > ul {
      float: left;
      margin-right: 75px;
      &:last-child {
        margin-right: 0;
      }
      li {
        margin-bottom: 3px;
        &:last-child {
          margin-bottom: 0;
        }
        a {
          font-size: 12px;
          color: rgba(#393939, 0.3);
          text-decoration: none;
        }
        &:hover {
          a {
            text-decoration: underline;
          }
        }
      }
    }
    .socials {
      margin-bottom: 16px;
      .icon {
        display: inline-block;
        width: 24px;
        height: 24px;
        background-image: url(../img/socials.png);
        background-repeat: no-repeat;
        background-position: -2px -2px;
        //transition: all ease 0.3s;
        &.twitter {
          background-position: -2px -2px;
        }
        &.facebook {
          background-position: -32px -2px;
        }
        &.linkedin {
          background-position: -62px -2px;
        }
        &.rss {
          background-position: -92px -2px;
        }
        &:hover {
          &.twitter {
            background-position: -2px -29px;
          }
          &.facebook {
            background-position: -32px -29px;
          }
          &.linkedin {
            background-position: -62px -29px;
          }
          &.rss {
            background-position: -92px -29px;
          }
        }
      }
    }
    .copy {
      font-size: 11px;
      color: rgba(57, 57, 57, 0.3);
    }
  }
}
